@import "flexbox";
@import "values";

h3 {
  margin: 0;
  font-size: 20px;
  text-transform: uppercase;
  font-family: @df-sans;
  padding-bottom: 12px;
}

.presets {
  .display-flex;

  .generic.button-bar {
    .flex(1 1 0%);
    margin-right: 4px;
  }

  .case-study.button-bar {
    .flex(3 3 0%);
  }

}

.preset-description {
  font-size: 16px;
  padding: 10px 0;
  font-style: italic;
  font-family: @df-sans;
}

.tuning {
  margin: 10px 20px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #CECECE;
}

.params {
  overflow: hidden;
  padding: 4px;

  & > div {
    float: left;
    width: 25%;

    &.full {
      clear: both;
      float: none;
      width: 100%;
      padding: 10px 0 0;
    }
  }

  label.parameter {
    display: block;
    font-size: 14px;
    color: #888;
  }

  input.parameter {
    display: block;
    border: none;
    border-bottom: 1px solid @df-dark-gray;
    font-size: 17px;
    font-weight: bold;
    width: 100%;
    color: @garland-blue;
  }
}

.output {
  font-weight: bold;
}