@import "values";
@import "flexbox";

input[type=radio] {
  display: none;

  & + label {
    padding: 6px 4px;
    border: 1px solid #AFAFAF;
    color: #555;
    font-family: @df-sans;
    text-align: center;
    font-size: 16px;
    margin: 0;

    &:first-of-type {
      border-radius: 4px 0 0 4px;
    }

    &:last-of-type {
      border-radius: 0 4px 4px 0;
    }

    &:first-of-type:last-of-type {
      border-radius: 4px;
    }
  }

  &:checked + label {
    color: white;
    background: #555;
    font-weight: bold;
    border: 2px solid #3279C2;
    letter-spacing: 1px;
  }
}

.button-bar {
  .display-flex;
  margin-bottom: 4px;

  label {
    .flex(1);
  }
}