* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@garland-blue: #3279C2;
@remaining-line: rgb(123, 90, 166);
@value-line: rgb(7, 119, 179);

@import "seattletimes";

@import "inputs";
@import "form";
@import "balloons";

body {
  // background: #888;
  margin: 0;
  padding: 0;
}

main.interactive {
  display: block;
  padding: 8px;
  // width: 800px;
  max-width: 100%;
  margin: auto;
  background: white;
  font-size: 16px;
}

.graph-container {
  position: relative;
  margin: 0 10px;
}

canvas.graph {
  border: 1px solid #eee;
  width: 100%;
}

.graph-key {
  .display-flex;

  label {
    .flex(1 0 auto);
    text-align: center;
  }

  .dot {
    border-radius: 100%;
    vertical-align: middle;
    display: inline-block;
    height: 14px;
    width: 14px;
  }

  .value {
    background: @value-line;
  }
  
  .remaining {
    background: @remaining-line;
  }
}

.credit {
  font-size: 14px;
  text-transform: uppercase;
  text-align: right;
}