* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";

@import "inputs";
@import "form";
@import "balloons";

body {
  // background: #888;
  margin: 0;
  padding: 0;
}

.balloon .contents {
  padding: 8px 0;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(145,145,145,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(145,145,145,1);
  box-shadow: 0px 0px 5px 0px rgba(145,145,145,1);
}

h3 {
  font-size: 20px; 
  text-transform: uppercase;
  font-family: @df-sans;
  padding-bottom:12px;
}

main.interactive {
  display: block;
  padding: 8px;
  width: 800px;
  max-width: 100%;
  margin: auto;
  background: white;
  font-size: 16px;
}

.graph-container {
  position: relative;
  margin: 10px;
}

canvas.graph {
  border: 1px solid #eee;
  width: 100%;
}

.generic {
  background-color: #BBB;
  border-radius: 3px;
  border: 0;
  
  input[type=radio] + label {
    color: white;
    border:0;
    letter-spacing: 1px;
  }
}


.case-study {

  input[type=radio] + label {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(145,145,145,0.45);
    -moz-box-shadow: 0px 0px 5px 0px rgba(145,145,145,0.45);
    box-shadow: 0px 0px 5px 0px rgba(145,145,145,0.45);
  }
}

.preset-description {
  padding: 10px 0 10px 0;
  font-style: italic;
  color: #565656;
  font-family: @df-sans;
}

.tuning {
  margin:10px 20px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #CECECE;

  h3 {
    font-size:16px;
    padding:0;
    margin:0;
  }
}

.params input.parameter {
  color: #3279C2;
}

.full {
  margin: 0;

  input[type=radio] + label {
   background-color: #EFEFEF;
   border: 2px solid white;
   border-radius: 0;
 }

  input[type=radio]:checked + label {
    color: black;
    background-color: #E1E1E1;
  }
}

.params > div.full {
  padding:0;
  margin:0;
  padding-top:10px;
}

