<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <responsive-child>
      <h1>Should I buy a mobile home?</h1>
      <div class="reveal">
        <h2 class="answer">No.</h2>

        <canvas class="graph" width=800 height=400></canvas>

        <div class="params">
          <div class="read-only">
            <label>
              Final home value:
              <input name="finalValue" disabled value="0">
            </label>
            <label>
              Total paid:
              <input name="paidTotal" disabled value="0">
            </label>
            <label>
              Debt free at:
              <input name="debtFree" disabled value="0">
            </label>
          </div>
          <div class="writable">
            <label>
              Home value:
              <input name="price" value="96005.56">
            </label>
            <label>
              Other closing costs:
              <input name="other" value="4876.98">
            </label>
            <label>
              Interest rate:
              <input name="interest" value="12.5">
            </label>
            <label>
              Down payment:
              <input name="down" value="4.9">
            </label>
            <label>
              Loan term (years):
              <input name="term" value="24">
            </label>
            <label>
              Home value curve:
              <select name="delta">
                <option value="mobile-home">Mobile home</option>
                <option value="stable">Traditional home</option>
              </select>
            </label>
          </div>
          <button class="regenerate">See changes</button>
        </div>
      </div>

    </responsive-child>

    <script src="app.js"></script>
    <%= json.project.production ? t.include("partials/_adFoot.html") : "" %>
    <%= json.project.production ? t.include("partials/_workHere.html") : "" %>
  </body>
</html>
