<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <responsive-child>
      <main class="interactive">

        <h1>How mobile-home buyers can drown in debt</h1>
        <form class="reveal" autocomplete="off">

          <p class="chatter">
            Mobile-home buyers can become trapped in underwater loans that don’t reach a break-even point for many years. The graphs below show how exorbitant interest rates and costly fees create a punishing repayment schedule, while depreciation* of the mobile home causes its resale value to drop sharply over time. 

          <h3>Choose a scenario</h3>
          <section class="presets">
            <div class="case-study button-bar">
              <input type="radio" name="preset" value="Ackley" id="ackley" checked>
              <label for="ackley">Ackley case</label>
              
              <input type="radio" name="preset" value="Mansfield" id="mansfield">
              <label for="mansfield">Mansfield case</label>
              
              <input type="radio" name="preset" value="Galler" id="galler">
              <label for="galler">Galler case</label>
            </div>

            <div class="generic button-bar">
              <input type="radio" name="preset" value="trailer" id="trailer">
              <label for="trailer">Custom</label>
            </div>
          </section>
          <section class="preset-description"></section>

          <div class="tuning">
            <h3 class="fine-tuning">Fine-tuning</h3>
            <section class="params">
              <div class="param-block">
                <label class="parameter">Price</label>
                <input class="parameter" name="price" type="text" data-format="dollars">
              </div>
              <div class="param-block">
                <label class="parameter">
                  Other costs
                  <span class="hover-dot">?
                    <div class="hover-text">
                      Other costs financed in the loan, including broker fees, origination fees, discount points, sales tax, installation, optional features, insurance.
                    </div>
                  </span>
                </label>
                <input class="parameter" name="other" type="text" data-format="dollars">
              </div>
              <div class="param-block">
                <label class="parameter">
                  Interest rate
                  <span class="hover-dot">?
                    <div class="hover-text">
                      Chart relies on the borrower's base interest rate, not the annual percentage rate (APR), which is generally higher.
                    </div>
                  </span>
                </label>
                <input class="parameter" name="interest" type="text" data-format="percent">
              </div>
              <div class="param-block">
                <label class="parameter">Down payment</label>
                <input class="parameter" name="down" type="text" data-format="percent">
              </div>
              <div class="full button-bar alt">
                <input type="radio" name="term" value="15" id="term15">
                <label for="term15">15 years</label>

                <input type="radio" name="term" value="20" id="term20">
                <label for="term20">20 years</label>

                <input type="radio" name="term" value="24" id="term24">
                <label for="term24">24 years</label>

                <input type="radio" name="term" value="30" id="term30">
                <label for="term30">30 years</label>
              </div>
            </section>
          </div>

          <h3>Results</h3>

          <section class="outcomes">
            <div>
              <label>Final home value:</label>
              <span class="final-value output"></span>
            </div>
            <div>
              <label>Total paid:</label>
              <span class="total-paid output"></span>
            </div>
          </section>

          <section class="graph-container">
            <canvas class="graph" width=600 height=300></canvas>
            <div class="break-even balloon"><div class="contents">30 years, 2 months</div></div>
          </section>

          <section class="graph-key">
            <label> <div class="value dot"></div> Home value </label>
            <label> <div class="remaining dot"></div> Remaining loan balance </label>
          </section>

        </form>

        <cite>Source: Individual loan documents; state of Indiana</cite>

        <p class="notes">
          * Depreciation based on state of Indiana guidelines for average-quality mobile homes. The model doesn’t account for expenses that aren't financed in the loan, including land preparation, installation, home moving and real estate agent fees.

        <div class="credit">Thomas Wilburn / The Seattle Times</div>


      </main>
    </responsive-child>

    <script src="app.js"></script>
    <%= json.project.production ? t.include("partials/_workHere.html") : "" %>
  </body>
</html>
